.container {
  width: 100%;
  min-height:100vh;
  height: max-content;
  background-color: #0c1e42;
  color: white;
  padding: 2rem;
}

.main {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.weatherInput {
  padding: 0 0.4rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.searchBtn {
  border: none;
  background: #e80343;
  padding: 0.5rem 0.6rem;
  font-size: 1.1rem;
  color:white;
}

.weatherArea{
  height:100%;
  width:100%;
}

@media (max-width:640px){
  .heading {
    font-size: 2.3rem;
    letter-spacing:1px;
    text-align:center;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    margin-top:1rem;
  }
  .weatherInput {
    height: 2rem;
    border: none;
    width:100%;
    font-size: 1.07rem;
    margin-right: 1rem;
  }
  .searchBtn {
    margin-top:1rem;
    width:min-content;
    font-size: 1rem;
  }
}